.sidebar-container{
    width: 280px;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 999;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
}

/* styling the scrollbar */

.sidebar-container::-webkit-scrollbar {
    width: 8px;
}
  
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 4px;
}
  
.sidebar-container::-webkit-scrollbar-track {
    background-color: #fff;
}


/* styling the sidebar list */
.sidebar-list{
    width: 100%;
    height: auto;
    position: relative;
}

.sidebar-list_container{
    width: 270px;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.main-list{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 7px;
    font-size: larger;
    cursor: pointer;
}
.categories-list{
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
    cursor: pointer; 
    position: relative;   
}

.categories-list:hover{
    background-color: darkgray;
}

.categories-title{
    font-size: larger;
    width: 100%;
}
.arrow-icons{
    position: absolute;
    right: 5px;
    top: 22px;
}


.sub-categories{
    width: 250px;
    padding: 3px;
    height: auto;
}
.sub-categories li{
    list-style: none;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    border-radius: 10px;
}
.sub-categories li:hover{
    background-color: lightgray;
}


.main-list:hover, .sidebar-profile_container li:hover{
    background-color: darkgrey;
}


.sidebar-profile{
    width: 270px;
    height: auto;
    position: relative;

}

.sidebar-profile_container{
    width:270px;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-profile_container li{
    width: 100%;
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-size: larger;
    cursor: pointer;
}

.icon{
    padding-right: 4px;
    padding-top: 2px;
}


